{% extends 'base.html' %}{% load static %}
{% block body %}

<!-- Page Header -->
<section class="page_header vertical-padding">
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="giant-space">
                <h2 class="text-giant">404</h2>
                <p class="wow fadeInUp">Sorry. The page you are looking for is not found</p>
                <p class="top-space-lg"><a href="./index.html" class="btn btn-default btn-lg">Back to home</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock javascript %}
