<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tomato Responsive Restaurant HTML5 Template</title>
    <meta name="author" content="Surjith S M">

    <meta name="description" content="Tomato is a Responsive HTML5 Template for Restaurants and food related services.">
    <meta name="keywords" content="tomato, responsive, html5, restaurant, template, food, reservation">

    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}">

    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
</head>
<body>
    <div class="preloder animated">
        <div class="scoket">
            <img src="{% static 'base/img/preloader.svg' %}" alt="" />
        </div>
    </div>
    <div class="body">
        <div class="main-wrapper">
            {% include 'base/include/navigator.html' %}
            {% block body %}
            {% endblock body %}
            {% include 'base/include/subscribe.html' %}
            {% include 'base/include/footer.html' %}
        </div>
    </div>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
