{% extends 'base.html' %}{% load static %}

{% block body %}
{% include 'include/header.html' %}
<div class="gallery-content">
    <div class="container">
        <div class="row">
            {% for photo in gallery %}
                <div class="col-md-4 col-sm-6">
                    <div class="gallery-item" data-mfp-src="{{ photo.image.url }}">
                        <img src="{{ photo.image.url }}" class="img-responsive" alt="" />
                        <div class="gi-overlay">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/vendor/spectragram.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.ui.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/slick.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/vendor/vegas/vegas.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/vendor/jquery.stellar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/mc/jquery.ketchup.all.min.js' %}"></script>
<script src="{% static 'js/vendor/mc/main.js' %}"></script>
{% endblock javascript %}
